@import 'variables';

:root {
    font-family: $font-family;
    background-color: $light-gray;
    font-size: $font-size;
    font-weight: 400;
}

body {
    margin: 0;
    padding: 0;
    color: white;
}

.container {
    display: grid;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    gap: 0;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: start;

    .join {
        background-color: white;
        &__title {
            color: $cyan;
        }
        &__desc {
            color: $bright-yellow;
            font-weight: 700;
        }
        &__body {
            color: $grayish-blue;
        }
    }

    .sub {
        background-color: $cyan;
    }

    .why {
        background-color: $light-cyan;
    }
}


footer {
    display: none;
    //position: fixed;
    bottom: 0;
    margin: 1em;
    padding: 0;
}